<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>


    <% if notice   %>
        <p class="notice"><%= notice %></p>

    <% elsif alert %>
        <p class="alert"><%= alert %></p>
    <% else %>
    <%end   %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
